<nav id="navbar">
        <div id="logo">
            <img src="logo.png" alt="MyOnlineMeal.com">
        </div>
        <ul>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/clients">Our Clients</a></li>
            <li class="item"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>